body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden !important;
}

nav.navbar {
  background: transparent !important;
}

.navbar-brand img {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.demo_pane {
  position: relative;
}

.demo_pane .embed-container {
  margin-top: 4em;
  border-radius: 8px;
}

.rside {
  padding-top: 3.5rem;
}

.rside h2 {
  color: #3A3838;
  font-size: 5.5em;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 95.5%;
}

.rside h2 sup {
  font-size: 12px;
}

.rside p {
  color: #3A3838;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 132.5%;
  padding-left: 10px;
  margin-top: 20px;
}

.pan {
  margin-top: 50px;
}

button.win {
  background: #6C63FF;
  -webkit-box-shadow: 0px 4px 10px #D1CEFF;
          box-shadow: 0px 4px 10px #D1CEFF;
  color: white;
  border: none;
  font-size: 18px;
  outline: none !important;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 147.5%;
  /* or 27px */
  color: rgba(255, 255, 255, 0.93);
  text-shadow: 0px 1px 4px rgba(35, 26, 192, 0.33);
}

button {
  padding: 10px 25px;
  outline: none;
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
  margin: 3px;
  border: none;
  color: white;
  border-radius: 8px;
}

button i.fa {
  font-size: 30px;
  vertical-align: -4px;
  margin-right: 10px;
}

button.gh {
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  margin-right: 30px;
  background: #5E5E5E;
  -webkit-box-shadow: 0px 4px 10px rgba(90, 90, 90, 0.2);
          box-shadow: 0px 4px 10px rgba(90, 90, 90, 0.2);
  border-radius: 8px;
  border: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 147.5%;
}

button.mac:hover {
  background: #fd557c;
}

button.win:hover {
  background: #5048ff;
}

button.mac {
  background: #FF6388;
  -webkit-box-shadow: 0px 4px 10px #FCC9D5;
          box-shadow: 0px 4px 10px #FCC9D5;
  border-radius: 8px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 147.5%;
  opacity: .8;
  cursor: not-allowed;
  color: rgba(255, 255, 255, 0.93);
  text-shadow: 0px 1px 4px #E81D4D;
}

button:hover {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-color: transparent;
  background: #4e4e4e;
  color: white;
}

.particle {
  top: 0;
  position: absolute;
  z-index: 0;
  border-radius: 50%;
}

@-webkit-keyframes particle-animation-1 {
  100% {
    -webkit-transform: translate3d(17vw, 82vh, 30px);
            transform: translate3d(17vw, 82vh, 30px);
  }
}

@keyframes particle-animation-1 {
  100% {
    -webkit-transform: translate3d(17vw, 82vh, 30px);
            transform: translate3d(17vw, 82vh, 30px);
  }
}

.particle:nth-child(1) {
  -webkit-animation: particle-animation-1 60s infinite;
          animation: particle-animation-1 60s infinite;
  opacity: 0.73;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
  -webkit-transform: translate3d(89vw, 7vh, 100px);
          transform: translate3d(89vw, 7vh, 100px);
  background: #c726d9;
}

@-webkit-keyframes particle-animation-2 {
  100% {
    -webkit-transform: translate3d(25vw, 10vh, 45px);
            transform: translate3d(25vw, 10vh, 45px);
  }
}

@keyframes particle-animation-2 {
  100% {
    -webkit-transform: translate3d(25vw, 10vh, 45px);
            transform: translate3d(25vw, 10vh, 45px);
  }
}

.particle:nth-child(2) {
  -webkit-animation: particle-animation-2 60s infinite;
          animation: particle-animation-2 60s infinite;
  opacity: 0.92;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
  -webkit-transform: translate3d(3vw, 49vh, 52px);
          transform: translate3d(3vw, 49vh, 52px);
  background: #8e26d9;
}

@-webkit-keyframes particle-animation-3 {
  100% {
    -webkit-transform: translate3d(90vw, 76vh, 18px);
            transform: translate3d(90vw, 76vh, 18px);
  }
}

@keyframes particle-animation-3 {
  100% {
    -webkit-transform: translate3d(90vw, 76vh, 18px);
            transform: translate3d(90vw, 76vh, 18px);
  }
}

.particle:nth-child(3) {
  -webkit-animation: particle-animation-3 60s infinite;
          animation: particle-animation-3 60s infinite;
  opacity: 0.94;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
  -webkit-transform: translate3d(21vw, 77vh, 64px);
          transform: translate3d(21vw, 77vh, 64px);
  background: #5fd926;
}

@-webkit-keyframes particle-animation-4 {
  100% {
    -webkit-transform: translate3d(30vw, 39vh, 59px);
            transform: translate3d(30vw, 39vh, 59px);
  }
}

@keyframes particle-animation-4 {
  100% {
    -webkit-transform: translate3d(30vw, 39vh, 59px);
            transform: translate3d(30vw, 39vh, 59px);
  }
}

.particle:nth-child(4) {
  -webkit-animation: particle-animation-4 60s infinite;
          animation: particle-animation-4 60s infinite;
  opacity: 0.29;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
  -webkit-transform: translate3d(32vw, 49vh, 18px);
          transform: translate3d(32vw, 49vh, 18px);
  background: #6826d9;
}

@-webkit-keyframes particle-animation-5 {
  100% {
    -webkit-transform: translate3d(78vw, 79vh, 41px);
            transform: translate3d(78vw, 79vh, 41px);
  }
}

@keyframes particle-animation-5 {
  100% {
    -webkit-transform: translate3d(78vw, 79vh, 41px);
            transform: translate3d(78vw, 79vh, 41px);
  }
}

.particle:nth-child(5) {
  -webkit-animation: particle-animation-5 60s infinite;
          animation: particle-animation-5 60s infinite;
  opacity: 0.47;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-transform: translate3d(55vw, 44vh, 96px);
          transform: translate3d(55vw, 44vh, 96px);
  background: #26d92f;
}

@-webkit-keyframes particle-animation-6 {
  100% {
    -webkit-transform: translate3d(63vw, 90vh, 67px);
            transform: translate3d(63vw, 90vh, 67px);
  }
}

@keyframes particle-animation-6 {
  100% {
    -webkit-transform: translate3d(63vw, 90vh, 67px);
            transform: translate3d(63vw, 90vh, 67px);
  }
}

.particle:nth-child(6) {
  -webkit-animation: particle-animation-6 60s infinite;
          animation: particle-animation-6 60s infinite;
  opacity: 0.86;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
  -webkit-transform: translate3d(35vw, 7vh, 63px);
          transform: translate3d(35vw, 7vh, 63px);
  background: #26d929;
}

@-webkit-keyframes particle-animation-7 {
  100% {
    -webkit-transform: translate3d(72vw, 16vh, 74px);
            transform: translate3d(72vw, 16vh, 74px);
  }
}

@keyframes particle-animation-7 {
  100% {
    -webkit-transform: translate3d(72vw, 16vh, 74px);
            transform: translate3d(72vw, 16vh, 74px);
  }
}

.particle:nth-child(7) {
  -webkit-animation: particle-animation-7 60s infinite;
          animation: particle-animation-7 60s infinite;
  opacity: 0.58;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -1.4s;
          animation-delay: -1.4s;
  -webkit-transform: translate3d(36vw, 37vh, 36px);
          transform: translate3d(36vw, 37vh, 36px);
  background: #3ed926;
}

@-webkit-keyframes particle-animation-8 {
  100% {
    -webkit-transform: translate3d(54vw, 68vh, 85px);
            transform: translate3d(54vw, 68vh, 85px);
  }
}

@keyframes particle-animation-8 {
  100% {
    -webkit-transform: translate3d(54vw, 68vh, 85px);
            transform: translate3d(54vw, 68vh, 85px);
  }
}

.particle:nth-child(8) {
  -webkit-animation: particle-animation-8 60s infinite;
          animation: particle-animation-8 60s infinite;
  opacity: 0.6;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
  -webkit-transform: translate3d(67vw, 86vh, 1px);
          transform: translate3d(67vw, 86vh, 1px);
  background: #d97d26;
}

@-webkit-keyframes particle-animation-9 {
  100% {
    -webkit-transform: translate3d(76vw, 71vh, 67px);
            transform: translate3d(76vw, 71vh, 67px);
  }
}

@keyframes particle-animation-9 {
  100% {
    -webkit-transform: translate3d(76vw, 71vh, 67px);
            transform: translate3d(76vw, 71vh, 67px);
  }
}

.particle:nth-child(9) {
  -webkit-animation: particle-animation-9 60s infinite;
          animation: particle-animation-9 60s infinite;
  opacity: 0.57;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -1.8s;
          animation-delay: -1.8s;
  -webkit-transform: translate3d(27vw, 19vh, 100px);
          transform: translate3d(27vw, 19vh, 100px);
  background: #26d962;
}

@-webkit-keyframes particle-animation-10 {
  100% {
    -webkit-transform: translate3d(52vw, 63vh, 13px);
            transform: translate3d(52vw, 63vh, 13px);
  }
}

@keyframes particle-animation-10 {
  100% {
    -webkit-transform: translate3d(52vw, 63vh, 13px);
            transform: translate3d(52vw, 63vh, 13px);
  }
}

.particle:nth-child(10) {
  -webkit-animation: particle-animation-10 60s infinite;
          animation: particle-animation-10 60s infinite;
  opacity: 0.79;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-transform: translate3d(46vw, 34vh, 97px);
          transform: translate3d(46vw, 34vh, 97px);
  background: #5326d9;
}

@-webkit-keyframes particle-animation-11 {
  100% {
    -webkit-transform: translate3d(48vw, 28vh, 36px);
            transform: translate3d(48vw, 28vh, 36px);
  }
}

@keyframes particle-animation-11 {
  100% {
    -webkit-transform: translate3d(48vw, 28vh, 36px);
            transform: translate3d(48vw, 28vh, 36px);
  }
}

.particle:nth-child(11) {
  -webkit-animation: particle-animation-11 60s infinite;
          animation: particle-animation-11 60s infinite;
  opacity: 0.48;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -2.2s;
          animation-delay: -2.2s;
  -webkit-transform: translate3d(12vw, 57vh, 90px);
          transform: translate3d(12vw, 57vh, 90px);
  background: #d9263b;
}

@-webkit-keyframes particle-animation-12 {
  100% {
    -webkit-transform: translate3d(30vw, 69vh, 6px);
            transform: translate3d(30vw, 69vh, 6px);
  }
}

@keyframes particle-animation-12 {
  100% {
    -webkit-transform: translate3d(30vw, 69vh, 6px);
            transform: translate3d(30vw, 69vh, 6px);
  }
}

.particle:nth-child(12) {
  -webkit-animation: particle-animation-12 60s infinite;
          animation: particle-animation-12 60s infinite;
  opacity: 0.22;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
  -webkit-transform: translate3d(41vw, 54vh, 50px);
          transform: translate3d(41vw, 54vh, 50px);
  background: #d96e26;
}

@-webkit-keyframes particle-animation-13 {
  100% {
    -webkit-transform: translate3d(52vw, 80vh, 73px);
            transform: translate3d(52vw, 80vh, 73px);
  }
}

@keyframes particle-animation-13 {
  100% {
    -webkit-transform: translate3d(52vw, 80vh, 73px);
            transform: translate3d(52vw, 80vh, 73px);
  }
}

.particle:nth-child(13) {
  -webkit-animation: particle-animation-13 60s infinite;
          animation: particle-animation-13 60s infinite;
  opacity: 0.7;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -2.6s;
          animation-delay: -2.6s;
  -webkit-transform: translate3d(77vw, 70vh, 9px);
          transform: translate3d(77vw, 70vh, 9px);
  background: #59d926;
}

@-webkit-keyframes particle-animation-14 {
  100% {
    -webkit-transform: translate3d(59vw, 49vh, 17px);
            transform: translate3d(59vw, 49vh, 17px);
  }
}

@keyframes particle-animation-14 {
  100% {
    -webkit-transform: translate3d(59vw, 49vh, 17px);
            transform: translate3d(59vw, 49vh, 17px);
  }
}

.particle:nth-child(14) {
  -webkit-animation: particle-animation-14 60s infinite;
          animation: particle-animation-14 60s infinite;
  opacity: 0.2;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -2.8s;
          animation-delay: -2.8s;
  -webkit-transform: translate3d(34vw, 4vh, 21px);
          transform: translate3d(34vw, 4vh, 21px);
  background: #d97a26;
}

@-webkit-keyframes particle-animation-15 {
  100% {
    -webkit-transform: translate3d(4vw, 11vh, 67px);
            transform: translate3d(4vw, 11vh, 67px);
  }
}

@keyframes particle-animation-15 {
  100% {
    -webkit-transform: translate3d(4vw, 11vh, 67px);
            transform: translate3d(4vw, 11vh, 67px);
  }
}

.particle:nth-child(15) {
  -webkit-animation: particle-animation-15 60s infinite;
          animation: particle-animation-15 60s infinite;
  opacity: 0.83;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-transform: translate3d(29vw, 22vh, 42px);
          transform: translate3d(29vw, 22vh, 42px);
  background: #d93826;
}

@-webkit-keyframes particle-animation-16 {
  100% {
    -webkit-transform: translate3d(60vw, 57vh, 62px);
            transform: translate3d(60vw, 57vh, 62px);
  }
}

@keyframes particle-animation-16 {
  100% {
    -webkit-transform: translate3d(60vw, 57vh, 62px);
            transform: translate3d(60vw, 57vh, 62px);
  }
}

.particle:nth-child(16) {
  -webkit-animation: particle-animation-16 60s infinite;
          animation: particle-animation-16 60s infinite;
  opacity: 0.18;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -3.2s;
          animation-delay: -3.2s;
  -webkit-transform: translate3d(22vw, 9vh, 10px);
          transform: translate3d(22vw, 9vh, 10px);
  background: #d98226;
}

@-webkit-keyframes particle-animation-17 {
  100% {
    -webkit-transform: translate3d(31vw, 65vh, 21px);
            transform: translate3d(31vw, 65vh, 21px);
  }
}

@keyframes particle-animation-17 {
  100% {
    -webkit-transform: translate3d(31vw, 65vh, 21px);
            transform: translate3d(31vw, 65vh, 21px);
  }
}

.particle:nth-child(17) {
  -webkit-animation: particle-animation-17 60s infinite;
          animation: particle-animation-17 60s infinite;
  opacity: 0.04;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -3.4s;
          animation-delay: -3.4s;
  -webkit-transform: translate3d(8vw, 32vh, 91px);
          transform: translate3d(8vw, 32vh, 91px);
  background: #cdd926;
}

@-webkit-keyframes particle-animation-18 {
  100% {
    -webkit-transform: translate3d(42vw, 6vh, 62px);
            transform: translate3d(42vw, 6vh, 62px);
  }
}

@keyframes particle-animation-18 {
  100% {
    -webkit-transform: translate3d(42vw, 6vh, 62px);
            transform: translate3d(42vw, 6vh, 62px);
  }
}

.particle:nth-child(18) {
  -webkit-animation: particle-animation-18 60s infinite;
          animation: particle-animation-18 60s infinite;
  opacity: 0.99;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -3.6s;
          animation-delay: -3.6s;
  -webkit-transform: translate3d(7vw, 38vh, 23px);
          transform: translate3d(7vw, 38vh, 23px);
  background: #7726d9;
}

@-webkit-keyframes particle-animation-19 {
  100% {
    -webkit-transform: translate3d(55vw, 57vh, 85px);
            transform: translate3d(55vw, 57vh, 85px);
  }
}

@keyframes particle-animation-19 {
  100% {
    -webkit-transform: translate3d(55vw, 57vh, 85px);
            transform: translate3d(55vw, 57vh, 85px);
  }
}

.particle:nth-child(19) {
  -webkit-animation: particle-animation-19 60s infinite;
          animation: particle-animation-19 60s infinite;
  opacity: 0.1;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -3.8s;
          animation-delay: -3.8s;
  -webkit-transform: translate3d(34vw, 51vh, 78px);
          transform: translate3d(34vw, 51vh, 78px);
  background: #d92671;
}

@-webkit-keyframes particle-animation-20 {
  100% {
    -webkit-transform: translate3d(5vw, 18vh, 40px);
            transform: translate3d(5vw, 18vh, 40px);
  }
}

@keyframes particle-animation-20 {
  100% {
    -webkit-transform: translate3d(5vw, 18vh, 40px);
            transform: translate3d(5vw, 18vh, 40px);
  }
}

.particle:nth-child(20) {
  -webkit-animation: particle-animation-20 60s infinite;
          animation: particle-animation-20 60s infinite;
  opacity: 0.62;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-transform: translate3d(6vw, 39vh, 17px);
          transform: translate3d(6vw, 39vh, 17px);
  background: #d97426;
}

@-webkit-keyframes particle-animation-21 {
  100% {
    -webkit-transform: translate3d(57vw, 48vh, 61px);
            transform: translate3d(57vw, 48vh, 61px);
  }
}

@keyframes particle-animation-21 {
  100% {
    -webkit-transform: translate3d(57vw, 48vh, 61px);
            transform: translate3d(57vw, 48vh, 61px);
  }
}

.particle:nth-child(21) {
  -webkit-animation: particle-animation-21 60s infinite;
          animation: particle-animation-21 60s infinite;
  opacity: 0.53;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -4.2s;
          animation-delay: -4.2s;
  -webkit-transform: translate3d(63vw, 18vh, 74px);
          transform: translate3d(63vw, 18vh, 74px);
  background: #2656d9;
}

@-webkit-keyframes particle-animation-22 {
  100% {
    -webkit-transform: translate3d(71vw, 17vh, 58px);
            transform: translate3d(71vw, 17vh, 58px);
  }
}

@keyframes particle-animation-22 {
  100% {
    -webkit-transform: translate3d(71vw, 17vh, 58px);
            transform: translate3d(71vw, 17vh, 58px);
  }
}

.particle:nth-child(22) {
  -webkit-animation: particle-animation-22 60s infinite;
          animation: particle-animation-22 60s infinite;
  opacity: 0.85;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -4.4s;
          animation-delay: -4.4s;
  -webkit-transform: translate3d(66vw, 80vh, 81px);
          transform: translate3d(66vw, 80vh, 81px);
  background: #4d26d9;
}

@-webkit-keyframes particle-animation-23 {
  100% {
    -webkit-transform: translate3d(20vw, 7vh, 42px);
            transform: translate3d(20vw, 7vh, 42px);
  }
}

@keyframes particle-animation-23 {
  100% {
    -webkit-transform: translate3d(20vw, 7vh, 42px);
            transform: translate3d(20vw, 7vh, 42px);
  }
}

.particle:nth-child(23) {
  -webkit-animation: particle-animation-23 60s infinite;
          animation: particle-animation-23 60s infinite;
  opacity: 0.92;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -4.6s;
          animation-delay: -4.6s;
  -webkit-transform: translate3d(44vw, 53vh, 19px);
          transform: translate3d(44vw, 53vh, 19px);
  background: #44d926;
}

@-webkit-keyframes particle-animation-24 {
  100% {
    -webkit-transform: translate3d(43vw, 29vh, 72px);
            transform: translate3d(43vw, 29vh, 72px);
  }
}

@keyframes particle-animation-24 {
  100% {
    -webkit-transform: translate3d(43vw, 29vh, 72px);
            transform: translate3d(43vw, 29vh, 72px);
  }
}

.particle:nth-child(24) {
  -webkit-animation: particle-animation-24 60s infinite;
          animation: particle-animation-24 60s infinite;
  opacity: 0.18;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -4.8s;
          animation-delay: -4.8s;
  -webkit-transform: translate3d(73vw, 85vh, 10px);
          transform: translate3d(73vw, 85vh, 10px);
  background: #26d9a3;
}

@-webkit-keyframes particle-animation-25 {
  100% {
    -webkit-transform: translate3d(33vw, 84vh, 95px);
            transform: translate3d(33vw, 84vh, 95px);
  }
}

@keyframes particle-animation-25 {
  100% {
    -webkit-transform: translate3d(33vw, 84vh, 95px);
            transform: translate3d(33vw, 84vh, 95px);
  }
}

.particle:nth-child(25) {
  -webkit-animation: particle-animation-25 60s infinite;
          animation: particle-animation-25 60s infinite;
  opacity: 0.59;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  -webkit-transform: translate3d(47vw, 72vh, 16px);
          transform: translate3d(47vw, 72vh, 16px);
  background: #d3d926;
}

@-webkit-keyframes particle-animation-26 {
  100% {
    -webkit-transform: translate3d(43vw, 35vh, 20px);
            transform: translate3d(43vw, 35vh, 20px);
  }
}

@keyframes particle-animation-26 {
  100% {
    -webkit-transform: translate3d(43vw, 35vh, 20px);
            transform: translate3d(43vw, 35vh, 20px);
  }
}

.particle:nth-child(26) {
  -webkit-animation: particle-animation-26 60s infinite;
          animation: particle-animation-26 60s infinite;
  opacity: 0.38;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -5.2s;
          animation-delay: -5.2s;
  -webkit-transform: translate3d(37vw, 81vh, 20px);
          transform: translate3d(37vw, 81vh, 20px);
  background: #2680d9;
}

@-webkit-keyframes particle-animation-27 {
  100% {
    -webkit-transform: translate3d(78vw, 88vh, 34px);
            transform: translate3d(78vw, 88vh, 34px);
  }
}

@keyframes particle-animation-27 {
  100% {
    -webkit-transform: translate3d(78vw, 88vh, 34px);
            transform: translate3d(78vw, 88vh, 34px);
  }
}

.particle:nth-child(27) {
  -webkit-animation: particle-animation-27 60s infinite;
          animation: particle-animation-27 60s infinite;
  opacity: 0.19;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -5.4s;
          animation-delay: -5.4s;
  -webkit-transform: translate3d(27vw, 25vh, 43px);
          transform: translate3d(27vw, 25vh, 43px);
  background: #26d3d9;
}

@-webkit-keyframes particle-animation-28 {
  100% {
    -webkit-transform: translate3d(24vw, 58vh, 76px);
            transform: translate3d(24vw, 58vh, 76px);
  }
}

@keyframes particle-animation-28 {
  100% {
    -webkit-transform: translate3d(24vw, 58vh, 76px);
            transform: translate3d(24vw, 58vh, 76px);
  }
}

.particle:nth-child(28) {
  -webkit-animation: particle-animation-28 60s infinite;
          animation: particle-animation-28 60s infinite;
  opacity: 0.42;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -5.6s;
          animation-delay: -5.6s;
  -webkit-transform: translate3d(61vw, 18vh, 15px);
          transform: translate3d(61vw, 18vh, 15px);
  background: #d92635;
}

@-webkit-keyframes particle-animation-29 {
  100% {
    -webkit-transform: translate3d(87vw, 23vh, 39px);
            transform: translate3d(87vw, 23vh, 39px);
  }
}

@keyframes particle-animation-29 {
  100% {
    -webkit-transform: translate3d(87vw, 23vh, 39px);
            transform: translate3d(87vw, 23vh, 39px);
  }
}

.particle:nth-child(29) {
  -webkit-animation: particle-animation-29 60s infinite;
          animation: particle-animation-29 60s infinite;
  opacity: 0.16;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -5.8s;
          animation-delay: -5.8s;
  -webkit-transform: translate3d(40vw, 41vh, 61px);
          transform: translate3d(40vw, 41vh, 61px);
  background: #26b2d9;
}

@-webkit-keyframes particle-animation-30 {
  100% {
    -webkit-transform: translate3d(73vw, 7vh, 19px);
            transform: translate3d(73vw, 7vh, 19px);
  }
}

@keyframes particle-animation-30 {
  100% {
    -webkit-transform: translate3d(73vw, 7vh, 19px);
            transform: translate3d(73vw, 7vh, 19px);
  }
}

.particle:nth-child(30) {
  -webkit-animation: particle-animation-30 60s infinite;
          animation: particle-animation-30 60s infinite;
  opacity: 0.11;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
  -webkit-transform: translate3d(67vw, 73vh, 73px);
          transform: translate3d(67vw, 73vh, 73px);
  background: #26d9d9;
}

@media screen and (min-width: 801px) {
  body {
    overflow: hidden;
  }
}

@media screen and (max-width: 800px) {
  .col-md-6 {
    -webkit-box-flex: 0 !important;
        -ms-flex: none !important;
            flex: none !important;
    max-width: 100% !important;
  }
  .ph-link {
    display: table;
    margin: 0 auto;
  }
  .rside {
    padding: 5em 30px;
  }
  .rside h2, .rside p {
    text-align: center;
  }
  .pan {
    display: table;
    margin: 40px auto;
  }
  .pan button {
    display: table;
    margin: 20px auto;
  }
  .pan button i {
    font-size: 18px;
    vertical-align: 0;
  }
  .navbar {
    margin-bottom: 20px;
  }
  .navbar-brand img {
    -webkit-transform: scale(1);
            transform: scale(1);
    width: 120px;
  }
  .demo_pane, .embed-container {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=style.css.map */