body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden !important;
}

nav.navbar {
  background: transparent !important;
}

.navbar-brand img {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.demo_pane {
  position: relative;
}

.demo_pane .embed-container {
  margin-top: 4em;
  border-radius: 8px;
}

.rside {
  padding-top: 3.5rem;
}

.rside h2 {
  color: #3A3838;
  font-size: 5.5em;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 95.5%;
}

.rside h2 sup {
  font-size: 12px;
}

.rside p {
  color: #3A3838;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 132.5%;
  padding-left: 10px;
  margin-top: 20px;
}

.pan {
  margin-top: 50px;
}

button.win {
  background: #6C63FF;
  -webkit-box-shadow: 0px 4px 10px #D1CEFF;
          box-shadow: 0px 4px 10px #D1CEFF;
  color: white;
  border: none;
  font-size: 18px;
  outline: none !important;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 147.5%;
  /* or 27px */
  color: rgba(255, 255, 255, 0.93);
  text-shadow: 0px 1px 4px rgba(35, 26, 192, 0.33);
}

button {
  padding: 10px 25px;
  outline: none;
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
  margin: 3px;
  border: none;
  color: white;
  border-radius: 8px;
}

button i.fa {
  font-size: 30px;
  vertical-align: -4px;
  margin-right: 10px;
}

button.gh {
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  margin-right: 30px;
  background: #5E5E5E;
  -webkit-box-shadow: 0px 4px 10px rgba(90, 90, 90, 0.2);
          box-shadow: 0px 4px 10px rgba(90, 90, 90, 0.2);
  border-radius: 8px;
  border: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 147.5%;
}

button.mac:hover {
  background: #fd557c;
}

button.win:hover {
  background: #5048ff;
}

button.mac {
  background: #FF6388;
  -webkit-box-shadow: 0px 4px 10px #FCC9D5;
          box-shadow: 0px 4px 10px #FCC9D5;
  border-radius: 8px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 147.5%;
  opacity: .8;
  cursor: not-allowed;
  color: rgba(255, 255, 255, 0.93);
  text-shadow: 0px 1px 4px #E81D4D;
}

button:hover {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-color: transparent;
  background: #4e4e4e;
  color: white;
}

.particle {
  top: 0;
  position: absolute;
  z-index: 0;
  border-radius: 50%;
}

@-webkit-keyframes particle-animation-1 {
  100% {
    -webkit-transform: translate3d(36vw, 16vh, 86px);
            transform: translate3d(36vw, 16vh, 86px);
  }
}

@keyframes particle-animation-1 {
  100% {
    -webkit-transform: translate3d(36vw, 16vh, 86px);
            transform: translate3d(36vw, 16vh, 86px);
  }
}

.particle:nth-child(1) {
  -webkit-animation: particle-animation-1 60s infinite;
          animation: particle-animation-1 60s infinite;
  opacity: 0.4;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
  -webkit-transform: translate3d(20vw, 86vh, 88px);
          transform: translate3d(20vw, 86vh, 88px);
  background: #d92665;
}

@-webkit-keyframes particle-animation-2 {
  100% {
    -webkit-transform: translate3d(3vw, 25vh, 79px);
            transform: translate3d(3vw, 25vh, 79px);
  }
}

@keyframes particle-animation-2 {
  100% {
    -webkit-transform: translate3d(3vw, 25vh, 79px);
            transform: translate3d(3vw, 25vh, 79px);
  }
}

.particle:nth-child(2) {
  -webkit-animation: particle-animation-2 60s infinite;
          animation: particle-animation-2 60s infinite;
  opacity: 1;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
  -webkit-transform: translate3d(70vw, 90vh, 51px);
          transform: translate3d(70vw, 90vh, 51px);
  background: #d92662;
}

@-webkit-keyframes particle-animation-3 {
  100% {
    -webkit-transform: translate3d(39vw, 72vh, 52px);
            transform: translate3d(39vw, 72vh, 52px);
  }
}

@keyframes particle-animation-3 {
  100% {
    -webkit-transform: translate3d(39vw, 72vh, 52px);
            transform: translate3d(39vw, 72vh, 52px);
  }
}

.particle:nth-child(3) {
  -webkit-animation: particle-animation-3 60s infinite;
          animation: particle-animation-3 60s infinite;
  opacity: 0.76;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
  -webkit-transform: translate3d(17vw, 18vh, 9px);
          transform: translate3d(17vw, 18vh, 9px);
  background: #d026d9;
}

@-webkit-keyframes particle-animation-4 {
  100% {
    -webkit-transform: translate3d(77vw, 62vh, 59px);
            transform: translate3d(77vw, 62vh, 59px);
  }
}

@keyframes particle-animation-4 {
  100% {
    -webkit-transform: translate3d(77vw, 62vh, 59px);
            transform: translate3d(77vw, 62vh, 59px);
  }
}

.particle:nth-child(4) {
  -webkit-animation: particle-animation-4 60s infinite;
          animation: particle-animation-4 60s infinite;
  opacity: 0.88;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
  -webkit-transform: translate3d(64vw, 74vh, 8px);
          transform: translate3d(64vw, 74vh, 8px);
  background: #263ed9;
}

@-webkit-keyframes particle-animation-5 {
  100% {
    -webkit-transform: translate3d(49vw, 41vh, 58px);
            transform: translate3d(49vw, 41vh, 58px);
  }
}

@keyframes particle-animation-5 {
  100% {
    -webkit-transform: translate3d(49vw, 41vh, 58px);
            transform: translate3d(49vw, 41vh, 58px);
  }
}

.particle:nth-child(5) {
  -webkit-animation: particle-animation-5 60s infinite;
          animation: particle-animation-5 60s infinite;
  opacity: 0.23;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-transform: translate3d(19vw, 54vh, 64px);
          transform: translate3d(19vw, 54vh, 64px);
  background: #d95626;
}

@-webkit-keyframes particle-animation-6 {
  100% {
    -webkit-transform: translate3d(80vw, 16vh, 18px);
            transform: translate3d(80vw, 16vh, 18px);
  }
}

@keyframes particle-animation-6 {
  100% {
    -webkit-transform: translate3d(80vw, 16vh, 18px);
            transform: translate3d(80vw, 16vh, 18px);
  }
}

.particle:nth-child(6) {
  -webkit-animation: particle-animation-6 60s infinite;
          animation: particle-animation-6 60s infinite;
  opacity: 0.63;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
  -webkit-transform: translate3d(81vw, 52vh, 55px);
          transform: translate3d(81vw, 52vh, 55px);
  background: #26a0d9;
}

@-webkit-keyframes particle-animation-7 {
  100% {
    -webkit-transform: translate3d(82vw, 86vh, 59px);
            transform: translate3d(82vw, 86vh, 59px);
  }
}

@keyframes particle-animation-7 {
  100% {
    -webkit-transform: translate3d(82vw, 86vh, 59px);
            transform: translate3d(82vw, 86vh, 59px);
  }
}

.particle:nth-child(7) {
  -webkit-animation: particle-animation-7 60s infinite;
          animation: particle-animation-7 60s infinite;
  opacity: 0.3;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -1.4s;
          animation-delay: -1.4s;
  -webkit-transform: translate3d(82vw, 79vh, 79px);
          transform: translate3d(82vw, 79vh, 79px);
  background: #9126d9;
}

@-webkit-keyframes particle-animation-8 {
  100% {
    -webkit-transform: translate3d(53vw, 42vh, 7px);
            transform: translate3d(53vw, 42vh, 7px);
  }
}

@keyframes particle-animation-8 {
  100% {
    -webkit-transform: translate3d(53vw, 42vh, 7px);
            transform: translate3d(53vw, 42vh, 7px);
  }
}

.particle:nth-child(8) {
  -webkit-animation: particle-animation-8 60s infinite;
          animation: particle-animation-8 60s infinite;
  opacity: 0.3;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
  -webkit-transform: translate3d(29vw, 60vh, 96px);
          transform: translate3d(29vw, 60vh, 96px);
  background: #8bd926;
}

@-webkit-keyframes particle-animation-9 {
  100% {
    -webkit-transform: translate3d(10vw, 72vh, 94px);
            transform: translate3d(10vw, 72vh, 94px);
  }
}

@keyframes particle-animation-9 {
  100% {
    -webkit-transform: translate3d(10vw, 72vh, 94px);
            transform: translate3d(10vw, 72vh, 94px);
  }
}

.particle:nth-child(9) {
  -webkit-animation: particle-animation-9 60s infinite;
          animation: particle-animation-9 60s infinite;
  opacity: 0.47;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -1.8s;
          animation-delay: -1.8s;
  -webkit-transform: translate3d(2vw, 81vh, 85px);
          transform: translate3d(2vw, 81vh, 85px);
  background: #26d9b8;
}

@-webkit-keyframes particle-animation-10 {
  100% {
    -webkit-transform: translate3d(31vw, 87vh, 59px);
            transform: translate3d(31vw, 87vh, 59px);
  }
}

@keyframes particle-animation-10 {
  100% {
    -webkit-transform: translate3d(31vw, 87vh, 59px);
            transform: translate3d(31vw, 87vh, 59px);
  }
}

.particle:nth-child(10) {
  -webkit-animation: particle-animation-10 60s infinite;
          animation: particle-animation-10 60s infinite;
  opacity: 0.33;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-transform: translate3d(71vw, 28vh, 67px);
          transform: translate3d(71vw, 28vh, 67px);
  background: #d92629;
}

@-webkit-keyframes particle-animation-11 {
  100% {
    -webkit-transform: translate3d(39vw, 49vh, 7px);
            transform: translate3d(39vw, 49vh, 7px);
  }
}

@keyframes particle-animation-11 {
  100% {
    -webkit-transform: translate3d(39vw, 49vh, 7px);
            transform: translate3d(39vw, 49vh, 7px);
  }
}

.particle:nth-child(11) {
  -webkit-animation: particle-animation-11 60s infinite;
          animation: particle-animation-11 60s infinite;
  opacity: 0.38;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -2.2s;
          animation-delay: -2.2s;
  -webkit-transform: translate3d(41vw, 50vh, 19px);
          transform: translate3d(41vw, 50vh, 19px);
  background: #26d950;
}

@-webkit-keyframes particle-animation-12 {
  100% {
    -webkit-transform: translate3d(22vw, 30vh, 60px);
            transform: translate3d(22vw, 30vh, 60px);
  }
}

@keyframes particle-animation-12 {
  100% {
    -webkit-transform: translate3d(22vw, 30vh, 60px);
            transform: translate3d(22vw, 30vh, 60px);
  }
}

.particle:nth-child(12) {
  -webkit-animation: particle-animation-12 60s infinite;
          animation: particle-animation-12 60s infinite;
  opacity: 0.7;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
  -webkit-transform: translate3d(68vw, 4vh, 68px);
          transform: translate3d(68vw, 4vh, 68px);
  background: #d93826;
}

@-webkit-keyframes particle-animation-13 {
  100% {
    -webkit-transform: translate3d(90vw, 76vh, 11px);
            transform: translate3d(90vw, 76vh, 11px);
  }
}

@keyframes particle-animation-13 {
  100% {
    -webkit-transform: translate3d(90vw, 76vh, 11px);
            transform: translate3d(90vw, 76vh, 11px);
  }
}

.particle:nth-child(13) {
  -webkit-animation: particle-animation-13 60s infinite;
          animation: particle-animation-13 60s infinite;
  opacity: 0.65;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -2.6s;
          animation-delay: -2.6s;
  -webkit-transform: translate3d(57vw, 14vh, 19px);
          transform: translate3d(57vw, 14vh, 19px);
  background: #d0d926;
}

@-webkit-keyframes particle-animation-14 {
  100% {
    -webkit-transform: translate3d(43vw, 8vh, 96px);
            transform: translate3d(43vw, 8vh, 96px);
  }
}

@keyframes particle-animation-14 {
  100% {
    -webkit-transform: translate3d(43vw, 8vh, 96px);
            transform: translate3d(43vw, 8vh, 96px);
  }
}

.particle:nth-child(14) {
  -webkit-animation: particle-animation-14 60s infinite;
          animation: particle-animation-14 60s infinite;
  opacity: 0.58;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -2.8s;
          animation-delay: -2.8s;
  -webkit-transform: translate3d(48vw, 60vh, 42px);
          transform: translate3d(48vw, 60vh, 42px);
  background: #47d926;
}

@-webkit-keyframes particle-animation-15 {
  100% {
    -webkit-transform: translate3d(10vw, 67vh, 2px);
            transform: translate3d(10vw, 67vh, 2px);
  }
}

@keyframes particle-animation-15 {
  100% {
    -webkit-transform: translate3d(10vw, 67vh, 2px);
            transform: translate3d(10vw, 67vh, 2px);
  }
}

.particle:nth-child(15) {
  -webkit-animation: particle-animation-15 60s infinite;
          animation: particle-animation-15 60s infinite;
  opacity: 0.66;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-transform: translate3d(8vw, 44vh, 80px);
          transform: translate3d(8vw, 44vh, 80px);
  background: #26d3d9;
}

@-webkit-keyframes particle-animation-16 {
  100% {
    -webkit-transform: translate3d(40vw, 36vh, 41px);
            transform: translate3d(40vw, 36vh, 41px);
  }
}

@keyframes particle-animation-16 {
  100% {
    -webkit-transform: translate3d(40vw, 36vh, 41px);
            transform: translate3d(40vw, 36vh, 41px);
  }
}

.particle:nth-child(16) {
  -webkit-animation: particle-animation-16 60s infinite;
          animation: particle-animation-16 60s infinite;
  opacity: 0.69;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -3.2s;
          animation-delay: -3.2s;
  -webkit-transform: translate3d(35vw, 71vh, 90px);
          transform: translate3d(35vw, 71vh, 90px);
  background: #5026d9;
}

@-webkit-keyframes particle-animation-17 {
  100% {
    -webkit-transform: translate3d(35vw, 46vh, 12px);
            transform: translate3d(35vw, 46vh, 12px);
  }
}

@keyframes particle-animation-17 {
  100% {
    -webkit-transform: translate3d(35vw, 46vh, 12px);
            transform: translate3d(35vw, 46vh, 12px);
  }
}

.particle:nth-child(17) {
  -webkit-animation: particle-animation-17 60s infinite;
          animation: particle-animation-17 60s infinite;
  opacity: 0.18;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -3.4s;
          animation-delay: -3.4s;
  -webkit-transform: translate3d(55vw, 8vh, 60px);
          transform: translate3d(55vw, 8vh, 60px);
  background: #d9a026;
}

@-webkit-keyframes particle-animation-18 {
  100% {
    -webkit-transform: translate3d(18vw, 71vh, 52px);
            transform: translate3d(18vw, 71vh, 52px);
  }
}

@keyframes particle-animation-18 {
  100% {
    -webkit-transform: translate3d(18vw, 71vh, 52px);
            transform: translate3d(18vw, 71vh, 52px);
  }
}

.particle:nth-child(18) {
  -webkit-animation: particle-animation-18 60s infinite;
          animation: particle-animation-18 60s infinite;
  opacity: 0.19;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -3.6s;
          animation-delay: -3.6s;
  -webkit-transform: translate3d(79vw, 81vh, 88px);
          transform: translate3d(79vw, 81vh, 88px);
  background: #44d926;
}

@-webkit-keyframes particle-animation-19 {
  100% {
    -webkit-transform: translate3d(27vw, 65vh, 86px);
            transform: translate3d(27vw, 65vh, 86px);
  }
}

@keyframes particle-animation-19 {
  100% {
    -webkit-transform: translate3d(27vw, 65vh, 86px);
            transform: translate3d(27vw, 65vh, 86px);
  }
}

.particle:nth-child(19) {
  -webkit-animation: particle-animation-19 60s infinite;
          animation: particle-animation-19 60s infinite;
  opacity: 0.17;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -3.8s;
          animation-delay: -3.8s;
  -webkit-transform: translate3d(24vw, 27vh, 81px);
          transform: translate3d(24vw, 27vh, 81px);
  background: #d9be26;
}

@-webkit-keyframes particle-animation-20 {
  100% {
    -webkit-transform: translate3d(5vw, 7vh, 2px);
            transform: translate3d(5vw, 7vh, 2px);
  }
}

@keyframes particle-animation-20 {
  100% {
    -webkit-transform: translate3d(5vw, 7vh, 2px);
            transform: translate3d(5vw, 7vh, 2px);
  }
}

.particle:nth-child(20) {
  -webkit-animation: particle-animation-20 60s infinite;
          animation: particle-animation-20 60s infinite;
  opacity: 0.78;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-transform: translate3d(49vw, 24vh, 63px);
          transform: translate3d(49vw, 24vh, 63px);
  background: #26d977;
}

@-webkit-keyframes particle-animation-21 {
  100% {
    -webkit-transform: translate3d(55vw, 40vh, 30px);
            transform: translate3d(55vw, 40vh, 30px);
  }
}

@keyframes particle-animation-21 {
  100% {
    -webkit-transform: translate3d(55vw, 40vh, 30px);
            transform: translate3d(55vw, 40vh, 30px);
  }
}

.particle:nth-child(21) {
  -webkit-animation: particle-animation-21 60s infinite;
          animation: particle-animation-21 60s infinite;
  opacity: 0.94;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -4.2s;
          animation-delay: -4.2s;
  -webkit-transform: translate3d(47vw, 39vh, 31px);
          transform: translate3d(47vw, 39vh, 31px);
  background: #d9269a;
}

@-webkit-keyframes particle-animation-22 {
  100% {
    -webkit-transform: translate3d(72vw, 81vh, 72px);
            transform: translate3d(72vw, 81vh, 72px);
  }
}

@keyframes particle-animation-22 {
  100% {
    -webkit-transform: translate3d(72vw, 81vh, 72px);
            transform: translate3d(72vw, 81vh, 72px);
  }
}

.particle:nth-child(22) {
  -webkit-animation: particle-animation-22 60s infinite;
          animation: particle-animation-22 60s infinite;
  opacity: 0.2;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -4.4s;
          animation-delay: -4.4s;
  -webkit-transform: translate3d(33vw, 78vh, 26px);
          transform: translate3d(33vw, 78vh, 26px);
  background: #26d974;
}

@-webkit-keyframes particle-animation-23 {
  100% {
    -webkit-transform: translate3d(42vw, 48vh, 15px);
            transform: translate3d(42vw, 48vh, 15px);
  }
}

@keyframes particle-animation-23 {
  100% {
    -webkit-transform: translate3d(42vw, 48vh, 15px);
            transform: translate3d(42vw, 48vh, 15px);
  }
}

.particle:nth-child(23) {
  -webkit-animation: particle-animation-23 60s infinite;
          animation: particle-animation-23 60s infinite;
  opacity: 0.33;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -4.6s;
          animation-delay: -4.6s;
  -webkit-transform: translate3d(62vw, 11vh, 100px);
          transform: translate3d(62vw, 11vh, 100px);
  background: #9126d9;
}

@-webkit-keyframes particle-animation-24 {
  100% {
    -webkit-transform: translate3d(35vw, 19vh, 63px);
            transform: translate3d(35vw, 19vh, 63px);
  }
}

@keyframes particle-animation-24 {
  100% {
    -webkit-transform: translate3d(35vw, 19vh, 63px);
            transform: translate3d(35vw, 19vh, 63px);
  }
}

.particle:nth-child(24) {
  -webkit-animation: particle-animation-24 60s infinite;
          animation: particle-animation-24 60s infinite;
  opacity: 0.72;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -4.8s;
          animation-delay: -4.8s;
  -webkit-transform: translate3d(10vw, 83vh, 87px);
          transform: translate3d(10vw, 83vh, 87px);
  background: #266ed9;
}

@-webkit-keyframes particle-animation-25 {
  100% {
    -webkit-transform: translate3d(39vw, 87vh, 31px);
            transform: translate3d(39vw, 87vh, 31px);
  }
}

@keyframes particle-animation-25 {
  100% {
    -webkit-transform: translate3d(39vw, 87vh, 31px);
            transform: translate3d(39vw, 87vh, 31px);
  }
}

.particle:nth-child(25) {
  -webkit-animation: particle-animation-25 60s infinite;
          animation: particle-animation-25 60s infinite;
  opacity: 0.09;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  -webkit-transform: translate3d(85vw, 15vh, 96px);
          transform: translate3d(85vw, 15vh, 96px);
  background: #3826d9;
}

@-webkit-keyframes particle-animation-26 {
  100% {
    -webkit-transform: translate3d(27vw, 29vh, 96px);
            transform: translate3d(27vw, 29vh, 96px);
  }
}

@keyframes particle-animation-26 {
  100% {
    -webkit-transform: translate3d(27vw, 29vh, 96px);
            transform: translate3d(27vw, 29vh, 96px);
  }
}

.particle:nth-child(26) {
  -webkit-animation: particle-animation-26 60s infinite;
          animation: particle-animation-26 60s infinite;
  opacity: 0.54;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -5.2s;
          animation-delay: -5.2s;
  -webkit-transform: translate3d(46vw, 16vh, 85px);
          transform: translate3d(46vw, 16vh, 85px);
  background: #8b26d9;
}

@-webkit-keyframes particle-animation-27 {
  100% {
    -webkit-transform: translate3d(26vw, 4vh, 18px);
            transform: translate3d(26vw, 4vh, 18px);
  }
}

@keyframes particle-animation-27 {
  100% {
    -webkit-transform: translate3d(26vw, 4vh, 18px);
            transform: translate3d(26vw, 4vh, 18px);
  }
}

.particle:nth-child(27) {
  -webkit-animation: particle-animation-27 60s infinite;
          animation: particle-animation-27 60s infinite;
  opacity: 0.37;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -5.4s;
          animation-delay: -5.4s;
  -webkit-transform: translate3d(18vw, 62vh, 12px);
          transform: translate3d(18vw, 62vh, 12px);
  background: #d97d26;
}

@-webkit-keyframes particle-animation-28 {
  100% {
    -webkit-transform: translate3d(43vw, 87vh, 69px);
            transform: translate3d(43vw, 87vh, 69px);
  }
}

@keyframes particle-animation-28 {
  100% {
    -webkit-transform: translate3d(43vw, 87vh, 69px);
            transform: translate3d(43vw, 87vh, 69px);
  }
}

.particle:nth-child(28) {
  -webkit-animation: particle-animation-28 60s infinite;
          animation: particle-animation-28 60s infinite;
  opacity: 0.07;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -5.6s;
          animation-delay: -5.6s;
  -webkit-transform: translate3d(66vw, 47vh, 94px);
          transform: translate3d(66vw, 47vh, 94px);
  background: #a9d926;
}

@-webkit-keyframes particle-animation-29 {
  100% {
    -webkit-transform: translate3d(27vw, 82vh, 37px);
            transform: translate3d(27vw, 82vh, 37px);
  }
}

@keyframes particle-animation-29 {
  100% {
    -webkit-transform: translate3d(27vw, 82vh, 37px);
            transform: translate3d(27vw, 82vh, 37px);
  }
}

.particle:nth-child(29) {
  -webkit-animation: particle-animation-29 60s infinite;
          animation: particle-animation-29 60s infinite;
  opacity: 0.71;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -5.8s;
          animation-delay: -5.8s;
  -webkit-transform: translate3d(50vw, 13vh, 57px);
          transform: translate3d(50vw, 13vh, 57px);
  background: #7426d9;
}

@-webkit-keyframes particle-animation-30 {
  100% {
    -webkit-transform: translate3d(36vw, 11vh, 65px);
            transform: translate3d(36vw, 11vh, 65px);
  }
}

@keyframes particle-animation-30 {
  100% {
    -webkit-transform: translate3d(36vw, 11vh, 65px);
            transform: translate3d(36vw, 11vh, 65px);
  }
}

.particle:nth-child(30) {
  -webkit-animation: particle-animation-30 60s infinite;
          animation: particle-animation-30 60s infinite;
  opacity: 0.22;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
  -webkit-transform: translate3d(38vw, 84vh, 72px);
          transform: translate3d(38vw, 84vh, 72px);
  background: #d94126;
}

@media screen and (min-width: 801px) {
  body {
    overflow: hidden;
  }
}

@media screen and (max-width: 800px) {
  .col-md-6 {
    -webkit-box-flex: 0 !important;
        -ms-flex: none !important;
            flex: none !important;
    max-width: 100% !important;
  }
  .ph-link {
    display: table;
    margin: 0 auto;
  }
  .rside {
    padding: 5em 30px;
  }
  .rside h2, .rside p {
    text-align: center;
  }
  .pan {
    display: table;
    margin: 40px auto;
  }
  .pan button {
    display: table;
    margin: 20px auto;
  }
  .pan button i {
    font-size: 18px;
    vertical-align: 0;
  }
  .navbar {
    margin-bottom: 20px;
  }
  .navbar-brand img {
    -webkit-transform: scale(1);
            transform: scale(1);
    width: 120px;
  }
  .demo_pane, .embed-container {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=style.css.map */